{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>

<nav>
  <a href="{% url 'home' %}" class="nav-logo">
    <div class="logo-icon">🏛️</div>
    <span class="logo-name"><em>e</em>Society</span>
  </a>
  <div class="nav-actions">
    <a href="{% url 'login' %}"  class="btn-nav btn-out">Login</a>
    <a href="{% url 'signup' %}" class="btn-nav btn-sol">Sign Up</a>
  </div>
</nav>
 

    {% block content %} 
    {% endblock content %}


<footer>
  <div class="foot-logo"><em>e</em>Society Management System</div>
  <div class="foot-links">
    <a href="#">Privacy Policy</a>
    <a href="#">Terms of Use</a>
    <a href="#">Support</a>
  </div>
  <div class="foot-copy">© 2024 eSociety · Built for modern residential communities</div>
</footer>
<script src="{% static 'js/auth.js' %}"></script>

</body>
</html>


